button.primary {
  /* Can't use "text-align: start" due to IE. */
  text-align: left;
}
html[dir="RTL"] button.primary {
  text-align: right;
}

#blockly {
  position: fixed;
  bottom: 10px;
}
#buttonRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 400px;
  padding-top: 1em;
}
body.narrowLayout #buttonRow {
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  padding-top: 0.5em;
}
body.narrowLayout #blockly {
  bottom: 0;
}
#display {
  border: 1px solid #ccc;
}
#downloadImageLink {
  display: none;
}
#sampleHelp3, #sampleHelp4 {
  height: 50px;
  width: 250px;
}

/* Slider. */
.sliderTrack {
  stroke: #aaa;
  stroke-width: 6px;
  stroke-linecap: round;
}
.sliderKnob {
  fill: #ddd;
  stroke: #bbc;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.sliderKnob:hover {
  fill: #eee;
}
